@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
}

.lists {
  margin-top: -9.375rem;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #040204;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.875rem;
  background: transparent;
  transition: all ease 0.5s;
}
header.black {
  background-color: #141414;
}
header .header--logo {
  height: 1.5625rem;
}
header .header--logo img {
  height: 100%;
}
header .header--user {
  height: 2.1875rem;
}
header .header--user img {
  height: 100%;
  border-radius: 0.1875rem;
}

.featured {
  height: 100vh;
}

.featured--vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured--vertical .featured--horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 20%, transparent 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.875rem;
  padding-top: 4.375rem;
}
.featured--vertical .featured--horizontal .featured--name {
  font-size: 3.75rem;
  font-weight: bold;
}
.featured--vertical .featured--horizontal .featured--info {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 0.9375rem;
}
.featured--vertical .featured--horizontal .featured--info .featured--points {
  color: #46d369;
}
.featured--vertical .featured--horizontal .featured--info .featured--points,
.featured--vertical .featured--horizontal .featured--info .featured--year,
.featured--vertical .featured--horizontal .featured--info .featured--seasons {
  display: inline-block;
  margin-right: 0.9375rem;
}
.featured--vertical .featured--horizontal .featured--description {
  margin-top: 0.9375rem;
  font-size: 1.25rem;
  color: #999;
  max-width: 40%;
  line-height: 2rem;
}
.featured--vertical .featured--horizontal .featured--buttons {
  margin-top: 0.9375rem;
}
.featured--vertical .featured--horizontal .featured--buttons .featured--watchbutton,
.featured--vertical .featured--horizontal .featured--buttons .featured--mylistbutton {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.3125rem;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0.625rem;
  opacity: 1;
  transition: all ease 0.2s;
}
.featured--vertical .featured--horizontal .featured--buttons .featured--watchbutton:hover,
.featured--vertical .featured--horizontal .featured--buttons .featured--mylistbutton:hover {
  opacity: 0.7;
}
.featured--vertical .featured--horizontal .featured--buttons .featured--watchbutton {
  background: #fff;
  color: #000;
}
.featured--vertical .featured--horizontal .featured--buttons .featured--mylistbutton {
  background: #333;
  color: #fff;
}
.featured--vertical .featured--horizontal .featured--genres {
  margin-top: 0.9375rem;
  font-size: 1.125rem;
  color: #999;
}

.movieRow {
  margin-bottom: 1.875rem;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}
.movieRow h2 {
  margin-left: 1.875rem;
}
.movieRow .movieRow--left,
.movieRow .movieRow--right {
  position: absolute;
  width: 2.5rem;
  height: 14.0625rem;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}
.movieRow .movieRow--left {
  left: 0;
}
.movieRow .movieRow--right {
  right: 0;
}
.movieRow .movieRow--listarea {
  overflow-x: hidden;
  padding-left: 1.875rem;
}
.movieRow .movieRow--listarea .movieRow--list {
  transition: all ease 0.5s;
}
.movieRow .movieRow--listarea .movieRow--list .movieRow--item {
  display: inline-block;
  width: 9.375rem;
  cursor: pointer;
}
.movieRow .movieRow--listarea .movieRow--list .movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}
.movieRow .movieRow--listarea .movieRow--list .movieRow--item img:hover {
  transform: scale(1);
}

footer {
  margin: 3.125rem 0;
  text-align: center;
}

@media (max-width: 760px) {
  .featured {
    height: 80vh;
  }
  .featured .featured--vertical .featured--horizontal .featured--name {
    font-size: 2.5rem;
  }
  .featured .featured--vertical .featured--horizontal .featured--info {
    font-size: 1rem;
  }
  .featured .featured--vertical .featured--horizontal .featured--description {
    font-size: 0.875rem;
    max-width: 100%;
    margin-right: 1.875rem;
  }
  .featured .featured--vertical .featured--horizontal .featured--buttons .featured--watchbutton,
.featured .featured--vertical .featured--horizontal .featured--buttons .featured--mylistbutton {
    font-size: 1rem;
  }
  .featured .featured--vertical .featured--horizontal .featured--genres {
    font-size: 0.875rem;
  }

  .movieRow .movieRow--left,
.movieRow .movieRow--right {
    opacity: 1;
  }
}/*# sourceMappingURL=App.css.map */