header {
  position: fixed;
  z-index: 1000000px;
  top: 0;
  left: 0;
  right: 0;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header--logo {
    height: 30px;

    img {
      height: 100%;
    }
  }
}
